<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments-list::head">
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul th:replace="fragments-list::leftNavbar"></ul>
        <!-- Right navbar links -->
        <ul th:replace="fragments-list::rightNavbar"></ul>
    </nav>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a th:replace="fragments-list::brandLogo"></a>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div th:replace="fragments-list::sidebarUserPanel"></div>
            <!-- SidebarSearch Form -->
            <div th:replace="fragments-list::sidebarSearchForm"></div>
            <!-- Sidebar Menu -->
            <nav th:replace="fragments-list::sidebarMenu"></nav>
        </div>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Application Details</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <a th:href="@{/student-application/send}" class="btn btn-primary btn-block mb-3">Back to
                            Home</a>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Folders</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item active">
                                        <a th:href="@{/student-application/send}" class="nav-link"
                                           th:classappend="${#httpServletRequest.getRequestURI() == '/student-application/send' ? 'active':''}">
                                            Start your application
                                        </a>
                                    </li>

                                    <li class="nav-item active">
                                        <a th:href="@{/student-application/application-box}" class="nav-link"
                                           th:classappend="${#httpServletRequest.getRequestURI() == '/student-application/application-box' ? 'active':''}"
                                           sec:authorize="hasAnyAuthority('Admin', 'RootAdmin')">
                                            All Application
                                        </a>
                                    </li>

                                    <li class="nav-item active">
                                        <a th:href="@{/student-application/user-application-box}" class="nav-link"
                                           th:classappend="${#httpServletRequest.getRequestURI() == '/student-application/user-application-box' ? 'active':''}">
                                            Inbox
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a th:href="@{/student-application/all-send-application}" class="nav-link"
                                           th:classappend="${#httpServletRequest.getRequestURI() == '/student-application/all-send-application' ? 'active':''}">
                                            All Send applications
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="nav-link active"
                                           th:classappend="${#httpServletRequest.getRequestURI() == '/student-application/all-send-application' ? 'active':''}">
                                            Application Details
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a th:href="@{/student-application/user-saved-application-box}" class="nav-link"
                                           th:classappend="${#httpServletRequest.getRequestURI() == '/student-application/user-saved-application-box' ? 'active':''}">
                                            Save Application
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Application Details</h3>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool" title="Previous"><i
                                            class="fas fa-chevron-left"> Previous </i></a>
                                    <a href="#" class="btn btn-tool" title="Next"> Next <i
                                            class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="mailbox-read-info">
                                    <h5 th:text="'Subject: ' + ${specificApplication.applicationSubject}">
                                    </h5>
                                    <h6>From: [[${specificApplication.sendFrom}]]
                                        <span class="mailbox-read-time float-right"
                                              th:text="${#temporals.format(specificApplication.applicationTime, 'dd-MMMM-yyyy , hh:mm a')}">15 Feb. 2015 11:03 PM</span>
                                    </h6>
                                </div>
                                <div class="mailbox-read-message" th:text="${specificApplication.applicationContent}">
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="float-right">
                                    <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Reply
                                    </button>
                                    <button type="button" class="btn btn-default"><i class="fas fa-share"></i> Forward
                                    </button>
                                </div>
                                <button type="button" class="btn btn-default">
                                    <a th:href="@{/student-application/delete/{id}(id=${specificApplication.id})}">
                                        <i class="far fa-trash-alt"> Delete</i>
                                    </a>
                                </button>
                                <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Print
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- Main Footer -->
    <footer th:replace="fragments-list::footer" class="main-footer"></footer>

    <!-- Control Sidebar -->
    <aside th:replace="fragments-list::rightNavbarOptions"></aside>

</div>


<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
<script src="/dist/js/demo.js"></script>
</body>
</html>
