<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments-list::head">
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">

        <!-- Left navbar links -->
        <ul th:replace="fragments-list::leftNavbar"></ul>

        <!-- Right navbar links -->
        <ul th:replace="fragments-list::rightNavbar"></ul>

    </nav>
    <!-- /.navbar -->


    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">

        <!-- Brand Logo -->
        <a th:replace="fragments-list::brandLogo"></a>

        <!-- Sidebar -->
        <div class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div th:replace="fragments-list::sidebarUserPanel"></div>

            <!-- SidebarSearch Form -->
            <div th:replace="fragments-list::sidebarSearchForm"></div>

            <!-- Sidebar Menu -->
            <nav th:replace="fragments-list::sidebarMenu"></nav>
            <!-- /.sidebar-menu -->

        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Application Details</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Application Details</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <a th:href="@{/student-application/send}" class="btn btn-primary btn-block mb-3">Back to
                            Home</a>

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Folders</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item active">
                                        <a th:href="@{/student-application/send}" class="nav-link"
                                           th:classappend="${#httpServletRequest.getRequestURI() == '/student-application/send' ? 'active':''}">
                                            <i class="fas fa-inbox"></i> Start your application
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a th:href="@{/student-application/application-box}" class="nav-link"
                                           th:classappend="${#httpServletRequest.getRequestURI() == '/student-application/application-box' ? 'active':''}">
                                            <i class="fas fa-inbox"></i> All Application (Admin)
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a th:href="@{/student-application/user-application-box}" class="nav-link"
                                           th:classappend="${#httpServletRequest.getRequestURI() == '/student-application/user-application-box' ? 'active':''}">
                                            <i class="fas fa-inbox"></i> Inbox (Logged-in user)
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/student-application/all-send-application}" class="nav-link"
                                           th:classappend="${#httpServletRequest.getRequestURI() == '/student-application/all-send-application' ? 'active':''}">
                                            <i class="far fa-envelope"></i> All Send applications (Logged-in user)
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link active"
                                           th:classappend="${#httpServletRequest.getRequestURI() == '/student-application/all-send-application' ? 'active':''}">
                                            <i class="far fa-envelope"></i> Application Details
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="fas fa-bell"></i> Notification
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Application Details</h3>

                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool" title="Previous"><i
                                            class="fas fa-chevron-left"> Previous </i></a>
                                    <a href="#" class="btn btn-tool" title="Next"> Next <i
                                            class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <div class="mailbox-read-info">
                                    <h5 th:text="'Subject: ' + ${specificApplication.applicationSubject}">
                                    </h5>
                                    <h6>From: [[${specificApplication.sendFrom}]]
                                        <span class="mailbox-read-time float-right"
                                              th:text="${#temporals.format(specificApplication.applicationTime, 'dd-MMMM-yyyy , hh:mm a')}">15 Feb. 2015 11:03 PM</span>
                                    </h6>
                                </div>
                                <!-- /.mailbox-controls -->
                                <div class="mailbox-read-message" th:text="${specificApplication.applicationContent}">
                                </div>
                                <!-- /.mailbox-read-message -->
                            </div>


                            <!-- /.card-body -->
                            <!--                            <div class="card-footer bg-white">-->
                            <!--                                <ul class="mailbox-attachments d-flex align-items-stretch clearfix">-->
                            <!--                                    <li>-->
                            <!--                                        <span class="mailbox-attachment-icon"><i class="far fa-file-pdf"></i></span>-->

                            <!--                                        <div class="mailbox-attachment-info">-->
                            <!--                                            <a href="#" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i>-->
                            <!--                                                Sep2014-report.pdf</a>-->
                            <!--                                            <span class="mailbox-attachment-size clearfix mt-1">-->
                            <!--                          <span>1,245 KB</span>-->
                            <!--                          <a href="#" class="btn btn-default btn-sm float-right"><i-->
                            <!--                                  class="fas fa-cloud-download-alt"></i></a>-->
                            <!--                        </span>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                    <li>-->
                            <!--                                        <span class="mailbox-attachment-icon"><i class="far fa-file-word"></i></span>-->

                            <!--                                        <div class="mailbox-attachment-info">-->
                            <!--                                            <a href="#" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i>-->
                            <!--                                                App Description.docx</a>-->
                            <!--                                            <span class="mailbox-attachment-size clearfix mt-1">-->
                            <!--                          <span>1,245 KB</span>-->
                            <!--                          <a href="#" class="btn btn-default btn-sm float-right"><i-->
                            <!--                                  class="fas fa-cloud-download-alt"></i></a>-->
                            <!--                        </span>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                    <li>-->
                            <!--                                        <span class="mailbox-attachment-icon has-img"><img-->
                            <!--                                                src="/dist/img/photo1.png" alt="Attachment"></span>-->

                            <!--                                        <div class="mailbox-attachment-info">-->
                            <!--                                            <a href="#" class="mailbox-attachment-name"><i class="fas fa-camera"></i>-->
                            <!--                                                photo1.png</a>-->
                            <!--                                            <span class="mailbox-attachment-size clearfix mt-1">-->
                            <!--                          <span>2.67 MB</span>-->
                            <!--                          <a href="#" class="btn btn-default btn-sm float-right"><i-->
                            <!--                                  class="fas fa-cloud-download-alt"></i></a>-->
                            <!--                        </span>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                    <li>-->
                            <!--                                        <span class="mailbox-attachment-icon has-img"><img-->
                            <!--                                                src="/dist/img/photo2.png" alt="Attachment"></span>-->

                            <!--                                        <div class="mailbox-attachment-info">-->
                            <!--                                            <a href="#" class="mailbox-attachment-name"><i class="fas fa-camera"></i>-->
                            <!--                                                photo2.png</a>-->
                            <!--                                            <span class="mailbox-attachment-size clearfix mt-1">-->
                            <!--                          <span>1.9 MB</span>-->
                            <!--                          <a href="#" class="btn btn-default btn-sm float-right"><i-->
                            <!--                                  class="fas fa-cloud-download-alt"></i></a>-->
                            <!--                        </span>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                </ul>-->
                            <!--                            </div>-->


                            <!-- /.card-footer -->
                            <div class="card-footer">
                                <div class="float-right">
                                    <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Reply
                                    </button>
                                    <button type="button" class="btn btn-default"><i class="fas fa-share"></i> Forward
                                    </button>
                                </div>
                                <button type="button" class="btn btn-default">
                                    <a th:href="@{/student-application/delete/{id}(id=${specificApplication.id})}">
                                        <i class="far fa-trash-alt"> Delete</i>
                                    </a>
                                </button>
                                <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Print
                                </button>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.2.0
        </div>
        <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
</body>
</html>
