<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments-list::head">
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul th:replace="fragments-list::leftNavbar"></ul>
        <!-- Right navbar links -->
        <ul th:replace="fragments-list::rightNavbar"></ul>
    </nav>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a th:replace="fragments-list::brandLogo"></a>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div th:replace="fragments-list::sidebarUserPanel"></div>
            <!-- SidebarSearch Form -->
            <div th:replace="fragments-list::sidebarSearchForm"></div>
            <!-- Sidebar Menu -->
            <nav th:replace="fragments-list::sidebarMenu"></nav>
        </div>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>All Teacher List</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Name & ID</th>
                                        <th>Designation & Subject</th>
                                        <th>Parent</th>
                                        <th>Contact</th>
                                        <th>Duration</th>
                                        <th>Role</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user: ${getAllUserWithoutAdminAndStudentRole}">
                                        <td>
                                            <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span><br>
                                            <span th:text="ID + ' - ' + ${user.academicID}"></span>
                                        </td>

                                        <td>
                                            <span th:text="Designation + ' - ' + ${user.designation}"></span><br>
                                            <span th:text="Subject + ' - ' + ${user.subjectSpeciality}"></span>
                                        </td>

                                        <td>
                                            <span th:text="F + ' - ' + ${user.fatherName}"></span><br>
                                            <span th:text="M + ' - ' + ${user.motherName}"></span>
                                        </td>

                                        <td>
                                            <span th:text="Email + ' - ' + ${user.email}"></span><br>
                                            <span th:text="Cell + ' - ' + ${user.contactNo}"></span><br>
                                            <span th:text="Address + ' - ' + ${user.address}"></span><br>
                                        </td>

                                        <td>
                                            <span th:text="Start_here + ' - ' + ${user.teachingStartDate}"></span><br>
                                            <span th:text="End_here + ' - ' + ${user.teachingEndDate}"></span><br>
                                        </td>

                                        <td th:text="${user.roles}"></td>
                                        <td>
                                            <a th:href="@{/teacher/edit/{id}(id=${user.id})}"
                                               class="btn btn-primary"><i class="fas fa-edit ml-2"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Control Sidebar -->
    <aside th:replace="fragments-list::rightNavbarOptions"></aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer th:replace="fragments-list::footer" class="main-footer"></footer>

</div>


<!---------------------- REQUIRED SCRIPTS ------------------------------------------->
<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
</body>
</html>
