<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments-list::head">
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">

        <!-- Left navbar links -->
        <ul th:replace="fragments-list::leftNavbar"></ul>

        <!-- Right navbar links -->
        <ul th:replace="fragments-list::rightNavbar"></ul>

    </nav>
    <!-- /.navbar -->


    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">

        <!-- Brand Logo -->
        <a th:replace="fragments-list::brandLogo"></a>

        <!-- Sidebar -->
        <div class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div th:replace="fragments-list::sidebarUserPanel"></div>

            <!-- SidebarSearch Form -->
            <div th:replace="fragments-list::sidebarSearchForm"></div>

            <!-- Sidebar Menu -->
            <nav th:replace="fragments-list::sidebarMenu"></nav>
            <!-- /.sidebar-menu -->

        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Add review</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Add review</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <span>Teacher Evaluation by Student</span>
                                    <hr>
                                    <span>The number rating stands for the following: </span> <br>
                                    1 = Rarely, 2 = Once in a while, 3 = Sometimes, 4 = Most of the.
                                </h3>
                            </div>

                            <form th:action="@{/teacher-evaluation/save/{subjectId}/{studentId}/{teacherId}
                                (subjectId=${subject.id}, studentId=${student.id}, teacherId=${teacher.id})}"
                                  method="POST"
                                  th:object="${teacherEvaluation}">

                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label for="subjectInfo">Subject Information</label>
                                                <input type="text" class="form-control" id="subjectInfo"
                                                       th:field="*{subjectId}" disabled
                                                       th:value="${subject.id}"
                                                       th:placeholder="'Class- ' + ${subject.subjectClass} + ' , '+  ${subject.subjectName} + ' ' + ${subject.subjectCode}"
                                                >
                                            </div>

                                            <div class="form-group">
                                                <label for="studentInfo">Student Information</label>
                                                <input type="text" class="form-control" id="studentInfo"
                                                       th:field="*{reviewerId}" disabled
                                                       th:value="${studentId}"
                                                       th:placeholder=" ${student.fullName} +' , ' + 'Class- ' + ${student.currentClass}"
                                                >
                                            </div>

                                            <div class="form-group">
                                                <label for="teacherInfo">Teacher Information</label>
                                                <input type="text" class="form-control" id="teacherInfo"
                                                       th:field="*{teacherId}" disabled
                                                       th:value="${teacher.id}"
                                                       th:placeholder="${teacher.fullName}"
                                                >
                                            </div>


                                        </div>

                                        <!-- /.col -->
                                        <div class="col-md-6">


                                            <div class="form-group">
                                                <label><h3>Q1. Teacher is prepared for class.</h3></label>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio1"
                                                           name="customRadio"
                                                           th:field="*{questionOne}"
                                                           th:value="${1}">
                                                    <label for="customRadio1" class="custom-control-label">
                                                        Rarely </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio2"
                                                           name="customRadio" checked
                                                           th:field="*{questionOne}"
                                                           th:value="${2}">
                                                    <label for="customRadio2" class="custom-control-label">
                                                        Once in a while</label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio3"
                                                           name="customRadio"
                                                           th:field="*{questionOne}"
                                                           th:value="${3}">
                                                    <label for="customRadio3" class="custom-control-label">
                                                        Sometimes </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio4"
                                                           name="customRadio"
                                                           th:field="*{questionOne}"
                                                           th:value="${4}">
                                                    <label for="customRadio4" class="custom-control-label">
                                                        Most of the</label>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label><h3>Q2. Teacher plans class time and assignments that help students to problem solve and think critically.</h3></label>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio5"
                                                           name="customRadio"
                                                           th:field="*{questionTwo}"
                                                           th:value="${1}">
                                                    <label for="customRadio5" class="custom-control-label">
                                                        Rarely </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio6"
                                                           name="customRadio" checked
                                                           th:field="*{questionTwo}"
                                                           th:value="${2}">
                                                    <label for="customRadio6" class="custom-control-label">
                                                        Once in a while</label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio7"
                                                           name="customRadio"
                                                           th:field="*{questionTwo}"
                                                           th:value="${3}">
                                                    <label for="customRadio7" class="custom-control-label">
                                                        Sometimes </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio8"
                                                           name="customRadio"
                                                           th:field="*{questionTwo}"
                                                           th:value="${4}">
                                                    <label for="customRadio8" class="custom-control-label">
                                                        Most of the</label>
                                                </div>

                                            </div>


                                        </div>


                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <!-- Control Sidebar -->
    <aside th:replace="fragments-list::rightNavbarOptions"></aside>
    <!-- /.control-sidebar -->


    <!-- Main Footer -->
    <footer th:replace="fragments-list::footer" class="main-footer"></footer>

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>


</body>
</html>
