<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments-list::head">
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">

        <!-- Left navbar links -->
        <ul th:replace="fragments-list::leftNavbar"></ul>

        <!-- Right navbar links -->
        <ul th:replace="fragments-list::rightNavbar"></ul>

    </nav>
    <!-- /.navbar -->


    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">

        <!-- Brand Logo -->
        <a th:replace="fragments-list::brandLogo"></a>

        <!-- Sidebar -->
        <div class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div th:replace="fragments-list::sidebarUserPanel"></div>

            <!-- SidebarSearch Form -->
            <div th:replace="fragments-list::sidebarSearchForm"></div>

            <!-- Sidebar Menu -->
            <nav th:replace="fragments-list::sidebarMenu"></nav>
            <!-- /.sidebar-menu -->

        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Update review</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Update review</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <span>Teacher Evaluation by Student</span>
                                    <hr>
                                    <span>The number rating stands for the following: </span> <br>
                                    1 = Rarely, 2 = Once in a while, 3 = Sometimes, 4 = Most of the.
                                </h3>
                            </div>

                            <form th:action="@{/teacher-evaluation/process-update/{evaluationId}/{subjectId}/{studentId}/{teacherId}
                                (evaluationId=${teacherEvaluation.id}, subjectId=${subject.id}, studentId=${student.id}, teacherId=${teacher.id})}"
                                  method="POST"
                                  th:object="${teacherEvaluation}">

                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label for="subjectInfo">Subject Information</label>
                                                <input type="text" class="form-control" id="subjectInfo"
                                                       th:field="*{subjectId}" disabled
                                                       th:value="${subject.id}"
                                                       th:placeholder="'Class- ' + ${subject.subjectClass} + ' , '+  ${subject.subjectName} + ' ' + ${subject.subjectCode}"
                                                >
                                            </div>

                                            <div class="form-group">
                                                <label for="studentInfo">Student Information</label>
                                                <input type="text" class="form-control" id="studentInfo"
                                                       th:field="*{reviewerId}" disabled
                                                       th:value="${studentId}"
                                                       th:placeholder=" ${student.fullName} +' , ' + 'Class- ' + ${student.currentClass}"
                                                >
                                            </div>

                                            <div class="form-group">
                                                <label for="teacherInfo">Teacher Information</label>
                                                <input type="text" class="form-control" id="teacherInfo"
                                                       th:field="*{teacherId}" disabled
                                                       th:value="${teacher.id}"
                                                       th:placeholder="${teacher.fullName}"
                                                >
                                            </div>


                                        </div>

                                        <!-- /.col -->
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label><h3>Q1. Teacher is prepared for class.</h3></label>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio1"
                                                           name="customRadio1"
                                                           th:field="*{questionOne}"
                                                           th:value="${1}">
                                                    <label for="customRadio1" class="custom-control-label">
                                                        Rarely </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio2"
                                                           name="customRadio1"
                                                           th:field="*{questionOne}"
                                                           th:value="${2}">
                                                    <label for="customRadio2" class="custom-control-label">
                                                        Once in a while</label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio3"
                                                           name="customRadio1"
                                                           th:field="*{questionOne}"
                                                           th:value="${3}">
                                                    <label for="customRadio3" class="custom-control-label">
                                                        Sometimes </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio4"
                                                           name="customRadio1"
                                                           th:field="*{questionOne}"
                                                           th:value="${4}">
                                                    <label for="customRadio4" class="custom-control-label">
                                                        Most of the</label>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label><h3>Q2. Teacher plans class time and assignments that help
                                                    students to problem solve and think critically.</h3></label>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio5"
                                                           name="customRadio1"
                                                           th:field="*{questionTwo}"
                                                           th:value="${1}">
                                                    <label for="customRadio5" class="custom-control-label">
                                                        Rarely </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio6"
                                                           name="customRadio1"
                                                           th:field="*{questionTwo}"
                                                           th:value="${2}">
                                                    <label for="customRadio6" class="custom-control-label">
                                                        Once in a while</label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio7"
                                                           name="customRadio1"
                                                           th:field="*{questionTwo}"
                                                           th:value="${3}">
                                                    <label for="customRadio7" class="custom-control-label">
                                                        Sometimes </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio8"
                                                           name="customRadio1"
                                                           th:field="*{questionTwo}"
                                                           th:value="${4}">
                                                    <label for="customRadio8" class="custom-control-label">
                                                        Most of the</label>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label><h3>Q3. Teacher is flexible in accommodating for individual
                                                    student needs.</h3></label>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio9"
                                                           name="customRadio1"
                                                           th:field="*{questionThree}"
                                                           th:value="${1}">
                                                    <label for="customRadio9" class="custom-control-label">
                                                        Rarely </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio10"
                                                           name="customRadio1"
                                                           th:field="*{questionThree}"
                                                           th:value="${2}">
                                                    <label for="customRadio10" class="custom-control-label">
                                                        Once in a while</label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio11"
                                                           name="customRadio1"
                                                           th:field="*{questionThree}"
                                                           th:value="${3}">
                                                    <label for="customRadio11" class="custom-control-label">
                                                        Sometimes </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio12"
                                                           name="customRadio1"
                                                           th:field="*{questionThree}"
                                                           th:value="${4}">
                                                    <label for="customRadio12" class="custom-control-label">
                                                        Most of the</label>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label><h3>Q4. Teacher is clear in giving directions and on explaining
                                                    what is expected on assignments and tests. </h3></label>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio13"
                                                           name="customRadio"
                                                           th:field="*{questionFour}"
                                                           th:value="${1}">
                                                    <label for="customRadio13" class="custom-control-label">
                                                        Rarely </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio14"
                                                           name="customRadio" checked
                                                           th:field="*{questionFour}"
                                                           th:value="${2}">
                                                    <label for="customRadio14" class="custom-control-label">
                                                        Once in a while</label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio15"
                                                           name="customRadio"
                                                           th:field="*{questionFour}"
                                                           th:value="${3}">
                                                    <label for="customRadio15" class="custom-control-label">
                                                        Sometimes </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio16"
                                                           name="customRadio"
                                                           th:field="*{questionFour}"
                                                           th:value="${4}">
                                                    <label for="customRadio16" class="custom-control-label">
                                                        Most of the</label>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label><h3>Q5. Teacher allows you to be active in the classroom learning
                                                    environment.</h3></label>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio17"
                                                           name="customRadio"
                                                           th:field="*{questionFive}"
                                                           th:value="${1}">
                                                    <label for="customRadio17" class="custom-control-label">
                                                        Rarely </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio18"
                                                           name="customRadio" checked
                                                           th:field="*{questionFive}"
                                                           th:value="${2}">
                                                    <label for="customRadio18" class="custom-control-label">
                                                        Once in a while</label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio19"
                                                           name="customRadio"
                                                           th:field="*{questionFive}"
                                                           th:value="${3}">
                                                    <label for="customRadio19" class="custom-control-label">
                                                        Sometimes </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio20"
                                                           name="customRadio"
                                                           th:field="*{questionFive}"
                                                           th:value="${4}">
                                                    <label for="customRadio20" class="custom-control-label">
                                                        Most of the</label>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label><h3>Q6. Teacher manages the time well.</h3></label>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio21"
                                                           name="customRadio"
                                                           th:field="*{questionSix}"
                                                           th:value="${1}">
                                                    <label for="customRadio21" class="custom-control-label">
                                                        Rarely </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio22"
                                                           name="customRadio" checked
                                                           th:field="*{questionSix}"
                                                           th:value="${2}">
                                                    <label for="customRadio22" class="custom-control-label">
                                                        Once in a while</label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio23"
                                                           name="customRadio"
                                                           th:field="*{questionSix}"
                                                           th:value="${3}">
                                                    <label for="customRadio23" class="custom-control-label">
                                                        Sometimes </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio24"
                                                           name="customRadio"
                                                           th:field="*{questionSix}"
                                                           th:value="${4}">
                                                    <label for="customRadio24" class="custom-control-label">
                                                        Most of the</label>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label><h3>Q7. Teacher grades fairly. </h3></label>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio25"
                                                           name="customRadio"
                                                           th:field="*{questionSeven}"
                                                           th:value="${1}">
                                                    <label for="customRadio25" class="custom-control-label">
                                                        Rarely </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio26"
                                                           name="customRadio" checked
                                                           th:field="*{questionSeven}"
                                                           th:value="${2}">
                                                    <label for="customRadio26" class="custom-control-label">
                                                        Once in a while</label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio27"
                                                           name="customRadio"
                                                           th:field="*{questionSeven}"
                                                           th:value="${3}">
                                                    <label for="customRadio27" class="custom-control-label">
                                                        Sometimes </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio28"
                                                           name="customRadio"
                                                           th:field="*{questionSeven}"
                                                           th:value="${4}">
                                                    <label for="customRadio28" class="custom-control-label">
                                                        Most of the</label>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label><h3>Q8. Teacher gives me good feedback on homework and projects
                                                    so that I can improve.</h3></label>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio29"
                                                           name="customRadio"
                                                           th:field="*{questionEight}"
                                                           th:value="${1}">
                                                    <label for="customRadio29" class="custom-control-label">
                                                        Rarely </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio30"
                                                           name="customRadio" checked
                                                           th:field="*{questionEight}"
                                                           th:value="${2}">
                                                    <label for="customRadio30" class="custom-control-label">
                                                        Once in a while</label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio31"
                                                           name="customRadio"
                                                           th:field="*{questionEight}"
                                                           th:value="${3}">
                                                    <label for="customRadio31" class="custom-control-label">
                                                        Sometimes </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio32"
                                                           name="customRadio"
                                                           th:field="*{questionEight}"
                                                           th:value="${4}">
                                                    <label for="customRadio32" class="custom-control-label">
                                                        Most of the</label>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label><h3>Q9. Teacher is creative in developing activities and
                                                    lessons. </h3></label>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio33"
                                                           name="customRadio"
                                                           th:field="*{questionNine}"
                                                           th:value="${1}">
                                                    <label for="customRadio33" class="custom-control-label">
                                                        Rarely </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio34"
                                                           name="customRadio" checked
                                                           th:field="*{questionNine}"
                                                           th:value="${2}">
                                                    <label for="customRadio34" class="custom-control-label">
                                                        Once in a while</label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio35"
                                                           name="customRadio"
                                                           th:field="*{questionNine}"
                                                           th:value="${3}">
                                                    <label for="customRadio35" class="custom-control-label">
                                                        Sometimes </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio36"
                                                           name="customRadio"
                                                           th:field="*{questionNine}"
                                                           th:value="${4}">
                                                    <label for="customRadio36" class="custom-control-label">
                                                        Most of the</label>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label><h3>Q10. Teacher encourages students to speak up and be active in
                                                    the class.</h3></label>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio37"
                                                           name="customRadio"
                                                           th:field="*{questionTen}"
                                                           th:value="${1}">
                                                    <label for="customRadio37" class="custom-control-label">
                                                        Rarely </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio38"
                                                           name="customRadio" checked
                                                           th:field="*{questionTen}"
                                                           th:value="${2}">
                                                    <label for="customRadio38" class="custom-control-label">
                                                        Once in a while</label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio39"
                                                           name="customRadio"
                                                           th:field="*{questionTen}"
                                                           th:value="${3}">
                                                    <label for="customRadio39" class="custom-control-label">
                                                        Sometimes </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" id="customRadio40"
                                                           name="customRadio"
                                                           th:field="*{questionTen}"
                                                           th:value="${4}">
                                                    <label for="customRadio40" class="custom-control-label">
                                                        Most of the</label>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label for="note">Comment</label>
                                                <textarea th:field="*{comment}" class="form-control" id="note"
                                                          placeholder="comment"></textarea>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <!-- Control Sidebar -->
    <aside th:replace="fragments-list::rightNavbarOptions"></aside>
    <!-- /.control-sidebar -->


    <!-- Main Footer -->
    <footer th:replace="fragments-list::footer" class="main-footer"></footer>

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>


</body>
</html>
