
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(52, 58, 64);
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(223, 215, 215);
    margin: 10px auto;
    padding: 5px 30px;
    width: 800px;
    box-shadow: 0 0 5px black;
}

.hr {
    display: flex;
    align-items: center;
}

hr {
    width: 30px;
    height: 1px;
    background: black;
    margin: 0 15px;
}

h2 {
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
}

.mission-txt {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
}

div img {
    width: 150px;
    filter: drop-shadow(0 10px 5px black);
}

p {
    text-align: justify;
}

.faculties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.unit {
    margin: 25px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unit img {
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.unit p {
    text-align: left;
    margin: 2px;
}

.unit p:first-of-type {
    font-weight: bolder;
    margin-bottom: 5px;
}

@media screen and (max-width: 820px) {
    .wrapper {
        width: 80%;
        padding: 5px 30px;
    }
}