<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<title th:text="${pageTitle}">HomePage</title>

<body>
<div class="container-fluid">

<!--    <div>-->
<!--        <h1>Dashboard</h1>-->
<!--        <a th:href="@{/after-login-dashboard}" target="_blank">Portal</a>-->
<!--    </div>-->

    <div>
        <a th:href="@{/login}" target="_blank">Log in to your profile</a>
    </div>

</div>
</body>
</html>