<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" >
  <title>XYZ School</title>

</head>
<body>
<div class="container-my">
  <th:block th:utext="${navbar.processedData}"></th:block>
  <section th:each="sect : ${sections}" th:id="${sect.section}" th:if="${sect.isPublic}" th:utext="${sect.processedData}">
  </section>

</div>

<script th:src="@{/js/bootstrap.bundle.js}"></script>

</body>

</html>