<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title th:text="${pageTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <!--    <link rel="stylesheet" type="text/css" href="../../static/fontawesome/all.css">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/common_form.js}"></script>
    <script type="text/javascript" th:src="@{/js/common_list.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <div class="container-fluid text-center">
        <div>
            <img th:src="@{/images/OrganizationLogo.png}">
        </div>

        <form th:action="@{/login}" method="post">
            <div th:if="${param.error}">
                <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
            </div>
            <div th:if="${param.logout}">
                <p class="text-warning">You have been logged out</p>
            </div>
            <div class="border border-secondary rounded p-3" style="max-width: 350px; margin: 0 auto">
                <p>Access to XYZ Control Panel</p>
                <p>
                    <input type="email" name="email" class="form-control" placeholder="Email" required/>
                </p>
                <p>
                    <input type="password" name="password" class="form-control" placeholder="Password" required/>
                </p>
                <p>
                    <input type="checkbox" name="remember-me"/>&nbsp;Remember Me
                </p>
                <p>
                    <input type="submit" value="Login" class="btn btn-primary"/>
                </p>
            </div>
        </form>

    </div>
</body>
</html>

