<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sajon Test</title>
</head>
<body>
<form th:action="@{/upload/galleryManageManage/save}" method="post" enctype="multipart/form-data">

    <div>
        <input type="text" name="heading">
    </div>
    <div>
        <input type="text" name="description">
    </div>

    <div class="mb-3">
        <input class="form-control" type="file" id="imageFile" name="image" accept="image/jpeg, image/png" required>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
</form>
</body>
</html>