<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link th:href="@{/images/education.png}" rel="icon">
    <link href="/frontlayout/styles/about.css" rel="stylesheet" type="text/css" media="all">

    <style>
        td, th {
            border: 1px solid #0b0b0b;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>

<div class="container">

    <div class="wrapper">
        <div class="hr">
            <hr>
            <h2>Dummy User For testing</h2>
            <hr>
        </div>
        <table >
            <tr>
                <th>User Name </th>
                <th>Password</th>
            </tr>
            <tr>
                <td>admin_1_@gmail.com</td>
                <td>admin_1_</td>
            </tr>
            <tr>
                <td>admin_2_@gmail.com</td>
                <td>admin_2_</td>
            </tr>
            <tr>
                <td>teacher_1_@gmail.com</td>
                <td>teacher_1_</td>
            </tr>
            <tr>
                <td>teacher_2_@gmail.com</td>
                <td>teacher_2_</td>
            </tr>
            <tr>
                <td>student_1_@gmail.com</td>
                <td>student_1_</td>
            </tr>
            <tr>
                <td>student_2_@gmail.com</td>
                <td>student_2_</td>
            </tr>

        </table>
    </div>

</div>
</body>

</html>