<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments-list::head">
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul th:replace="fragments-list::leftNavbar"></ul>
        <!-- Right navbar links -->
        <ul th:replace="fragments-list::rightNavbar"></ul>
    </nav>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a th:replace="fragments-list::brandLogo"></a>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div th:replace="fragments-list::sidebarUserPanel"></div>
            <!-- SidebarSearch Form -->
            <div th:replace="fragments-list::sidebarSearchForm"></div>
            <!-- Sidebar Menu -->
            <nav th:replace="fragments-list::sidebarMenu"></nav>
        </div>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Update Scheme </h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <form th:action="@{/payment-scheme/update/{id} (id=${scheme.id})}"  method="POST"
                                  th:object="${scheme}">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="paymentName">Payment Name</label>
                                                <input type="text" class="form-control" id="paymentName"
                                                       th:field="*{paymentName}"
                                                       placeholder="Payment Name">
                                            </div>

                                            <div class="form-group">
                                                <label for="paymentClass">Class </label>
                                                <select th:field="*{paymentClass}" id="paymentClass"
                                                        class="form-control">
                                                    <option th:each=" currentClass : ${classList}"
                                                            th:text="${currentClass.name}"
                                                            th:value="${currentClass}">
                                                    </option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="period1st">Academic Year</label>
                                                <select th:field="*{academicYear}" id="period1st"
                                                        class="form-control">
                                                    <option value=""></option>
                                                    <option th:each=" year : ${#numbers.sequence(2020, 2035)}"
                                                            th:text="${year}"
                                                            th:value="${year}">
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="amount">Payment Amount</label>
                                                <input type="text" class="form-control" id="amount"
                                                       th:field="*{amount}"
                                                       placeholder="Payment Amount">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Control Sidebar -->
    <aside th:replace="fragments-list::rightNavbarOptions"></aside>

    <!-- Main Footer -->
    <footer th:replace="fragments-list::footer" class="main-footer"></footer>

</div>


<!---------------------- REQUIRED SCRIPTS ------------------------------------------->
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
<script src="/dist/js/demo.js"></script>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
</body>
</html>
